.arrow { display: block;
  text-align: center;
  bottom: 20vh;
  position: absolute;
  left: 50%;
  width: 10em;
  margin-left: -5em;
  transition: transform .2s;
}
@media (max-width: 480px) { .arrow { bottom: 1.5em; } }
@media (max-height: 480px) { .arrow { bottom: 1em; } }

.arrow:after { content: "";
  display: block;
  height: 1em;
  width: 1em;
  border-left: 0.5em solid #ffffff;
  border-bottom: 0.5em solid #ffffff;
  margin: 0 auto;
  margin-top: 0.7em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.btn {
  font-family: 'Open Sans', sans-serif;
}

.btn-outline,
.btn-outline:focus {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 15px
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:hover {
    color: #444;
    font-size: 22px;
    background: #fff;
    border: 2px solid #fff
}

.button-wrapper {
  text-align: center;
}