.blog-nav {
  padding-top: 15px;
  padding-left: 25px;
}

.blog-nav a {
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}

.blog-nav:hover {
  color: #339DCA;
}

.blog-post {
  padding: 50px 0;
  width: 90%;
  max-width: 75%;
  margin: 0 auto;
}

.blog-post a {
  color: inherit;
  text-decoration: none;
}

.blog-title {
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}

.blog-subtitle {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  color: #4c4c4c;
}

.blog-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.9em;
  color: #777;
  text-align: justify;
}

.blog-body p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .blog-post {
    max-width: 90%;
  }
}