section {
  padding: 100px 0;
  color: #fff;
}

.section-title {
  margin-top: 0;
  padding-bottom: 35px;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.section-content {
  font-size: 1.4em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.section-content a {
  color: #fff;
}

.section-content a:hover {
  text-decoration: underline;
}

.post-preview {
  margin: 50px 0;
}

.post-preview-title {
  font-family: 'Montserrat', sans-serif;
}

.post-preview:first-child {
  margin-top: 0;
}

.post-preview:last-child {
  margin-bottom: 0;
}

#about-section {
  min-height: 100vh;
  background-image: url(../img/background2.jpg);
  background-position: center center;
  background-size: cover;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 100%;
  border: 5px solid #fff;
}

@media (max-width: 480px) {
  .about-wrapper {
    display: block;
  }

  .about-wrapper div:first-child {
    text-align: center;
  }

  .headshot {
    width: 50%;
    margin-bottom: 25px;
  }
}

#writing-section {
  min-height: 100vh;
  background-image: url(../img/background3.jpg);
  background-position: center center;
  background-size: cover;
}

.writing-section-content {
  margin-left: 10%;
}

#contact-section {
  min-height: 100vh;
  background-image: url(../img/background4.jpg);
  background-position: center center;
  background-size: cover;
}

.contact-header {
  padding-bottom: 15px;
}

.contact-input {
  padding: 25px;
  margin: 25px 0;
}

.contact-input:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-notification {
  display: none;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .contact-input {
    margin: 25px 0;
  }

  .contact-input:first-child {
    margin-top: 25px;
  }
}

.bottom-margin {
  margin-bottom: 25px;
}

footer {
  padding: 1em;
  background-color: #FFFAFA;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

footer .fa-heart {
  color: #f77380;
}
