.navbar {
  margin-bottom: 0;
  border: none;
  width: 100%;
  background-color: #484D51;
  opacity: .90;
}

.navbar a {
  color: white !important;
}

.navbar:hover {
  opacity: .95;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #222;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #222;
}

.progress-bar {
  height: 8px;
  background: #e5e5e5;
  width: 0%;
}