#navbar{
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top 0.3s;
}

.navbar {
  margin-bottom: 0;
  border: none;
  background-color: #222;
  opacity: .5;
}

.navbar a {
  color: white !important;
}

.navbar:hover {
  opacity: .9;
}