.navbar {
  margin-bottom: 0;
  border: none;
  width: 100%;
  background-color: #2e2e2e;
  opacity: .6;
/*  top: -60px; /* Hide the navbar 50 px outside of the top view */
/*  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar a {
  color: white;
}

.navbar:hover {
  opacity: .93;
}
