.container {
  max-width: 60em;
}

.brighten {
  color: white;
}


/*Navbar*/

.navbar {
  margin-bottom: 0;
  border: none;
  background-color: #222;
  opacity: .6;
}

.navbar a {
  color: white !important;
}

.navbar:hover {
  opacity: .9;
}


/*Header*/

.main-header {
  height: 100vh;
  background-image: url(../img/background1.jpg);
  background-position: center center;
  background-size: cover;
}

.black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
}

.header-title {
  margin-top: 0;
  font-size: 5em;  
}

.header-subtitle {
  font-size: 3.6em;
  text-align: left;

  position: relative;
  left: 27%;
  position: absolute;
  right:0;
}

@media (max-width: 480px) {
  .header-title {
    font-size: 2em;
  }
  .header-subtitle {
    font-size: 1em;
  }
}

section {
  padding: 100px 0;
  color: #fff;
}

.section-title {
  margin-top: 0;
  padding-bottom: 50px;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.section-content {
  font-size: 1.4em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.section-content a {
  color: #fff;
}

.section-content a:hover {
  text-decoration: underline;
}

.post-preview {
  margin: 50px 0;
}

.post-preview-title {
  font-family: 'Montserrat', sans-serif;
}

.post-preview:first-child {
  margin-top: 0;
}

.post-preview:last-child {
  margin-bottom: 0;
}

#about-section {
  min-height: 400px;

  background-image: url(../img/background2.jpg);
  background-position: center center;
  background-size: cover;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 100%;
  border: 5px solid #fff;
}

@media (max-width: 480px) {
  .about-wrapper {
    display: block;
  }

  .about-wrapper div:first-child {
    text-align: center;
  }

  .headshot {
    width: 50%;
    margin-bottom: 25px;
  }
}

#writing-section {
  min-height: 400px;
  
  background-image: url(../img/background3.jpg);
  background-position: center center;
  background-size: cover;
  opacity: .9;
}

#contact-section {
  background-image: url(../img/background4.jpg);
  background-position: center center;
  background-size: cover;
  opacity: .9;
}

.contact-input {
  padding: 25px;
  margin: 25px 0;
}

.contact-input:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-notification {
  display: none;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .contact-input {
    margin: 25px 0;
  }

  .contact-input:first-child {
    margin-top: 25px;
  }
}

.button-wrapper {
  text-align: center;
}

footer {
  padding: 2em;

  text-align: center;
  font-size: 1.2em;
}

footer .fa-heart {
  color: #f77380;
}

.blog-nav {
  padding-top: 25px;
  padding-left: 25px;
}

.blog-nav a {
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #339DCA;
}

.blog-post {
  padding: 50px 0;
  width: 90%;
  max-width: 40em;
  margin: 0 auto;
}

.blog-post a {
  color: inherit;
  text-decoration: none;
}

.blog-title {
  margin-bottom: 30px;

  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  cursor: pointer;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}

.blog-title:hover {
  color: #339DCA;
}

.blog-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 2em;
  color: #777;
}

.blog-body p {
  margin-bottom: 20px;
}


/* SCROLL TEST EFFECT - CURSOR */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* SOCIAL MEDIA BUTTONS */

.btn-outline,
.btn-outline:focus {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 15px
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:hover {
    color: #18BC9C;
    background: #fff;
    border: 2px solid #fff
}

.btn-primary.active,
.btn-primary:active,
.btn-success.active,
.btn-success:active,
.open .dropdown-toggle.btn-primary,
.open .dropdown-toggle.btn-success {
    background-image: none
}

.btn-primary {
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1a242f;
    border-color: #161f29
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #2C3E50;
    border-color: #2C3E50
}

.btn-primary .badge {
    color: #2C3E50;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    font-weight: 700
}

.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #128f76;
    border-color: #11866f
}

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    background-color: #18BC9C;
    border-color: #18BC9C
}

.btn-success .badge {
    color: #18BC9C;
    background-color: #fff
}

.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px
}

.btn.active,
.btn:active,
.btn:focus {
    outline: 0
}

.social-media {
  margin-top: 25px;
}