.container {
  max-width: 60em;
}

.brighten {
  color: white;
}

.main-header {
  height: 100vh;
  background-image: url(../img/background1.jpg);
  background-position: center center;
  background-size: cover;
}

.black {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
}

.header-title {
  margin-top: 0;
  font-size: 5em;
}

.header-subtitle {
  font-size: 3.6em;
  text-align: left;

  position: relative;
  left: 50vw;
  margin-left: -22vw;
  position: absolute;
  right: 0;
}

@media (max-width: 480px) {
  .header-title {
    font-size: 2em;
  }
  .header-subtitle {
    font-size: 1em;
  }
}

@media (max-width: 720px) {
  .header-title {
    font-size: 3em;
  }
  .header-subtitle {
    font-size: 1.5em;
  }
}

section {
  padding: 100px 0;
  color: #fff;
}

.section-title {
  margin-top: 0;
  padding-bottom: 35px;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.section-content {
  font-size: 1.4em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.section-content a {
  color: #fff;
}

.section-content a:hover {
  text-decoration: underline;
}

.post-preview {
  margin: 50px 0;
}

.post-preview-title {
  font-family: 'Montserrat', sans-serif;
}

.post-preview:first-child {
  margin-top: 0;
}

.post-preview:last-child {
  margin-bottom: 0;
}

#about-section {
  min-height: 100vh;
  background-image: url(../img/background2.jpg);
  background-position: center center;
  background-size: cover;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 100%;
  border: 5px solid #fff;
}

@media (max-width: 480px) {
  .about-wrapper {
    display: block;
  }

  .about-wrapper div:first-child {
    text-align: center;
  }

  .headshot {
    width: 50%;
    margin-bottom: 25px;
  }
}

#writing-section {
  min-height: 100vh;
  background-image: url(../img/background3.jpg);
  background-position: center center;
  background-size: cover;
}

.writing-section-content {
  margin-left: 10%;
}

#contact-section {
  min-height: 100vh;
  background-image: url(../img/background4.jpg);
  background-position: center center;
  background-size: cover;
}

.contact-header {
  padding-bottom: 15px;
}

.contact-input {
  padding: 25px;
  margin: 25px 0;
}

.contact-input:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-notification {
  display: none;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .contact-input {
    margin: 25px 0;
  }

  .contact-input:first-child {
    margin-top: 25px;
  }
}

.bottom-margin {
  margin-bottom: 25px;
}

.button-wrapper {
  text-align: center;
}

footer {
  padding: 1em;
  background-color: #F8F8FF;
  text-align: center;
  font-size: 1.2em;
}

footer .fa-heart {
  color: #f77380;
}
