.container {
  max-width: 60em;
}

.brighten {
  color: white;
}

.main-header {
  height: 100vh;
  background-image: url(../img/background1.jpg);
  background-position: center center;
  background-size: cover;
}

.black {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0));
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.header-title {
  margin-top: 0;
  font-size: 5em;
}

.header-subtitle {
  font-size: 3.6em;
  text-align: left;

  position: relative;
  left: 28vw;
  position: absolute;
  right: 0;
  font-family: 'Open Sans', sans-serif;
}


@media (max-width: 960px) {
  .main-header {
    background-image: url(../img/background1a.jpg);
  }
  .header-title {
    font-size: 4em;
  }
  .header-subtitle {
    font-size: 2.8em;
  }
}

@media (max-width: 720px) {
  .main-header {
    background-image: url(../img/background1a.jpg);
  }
  .header-title {
    font-size: 3em;
  }
  .header-subtitle {
    font-size: 2.1em;
  }
}

@media (max-width: 600px) {
  .main-header {
    background-image: url(../img/background1b.jpg);
  }
  .black {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
  }
  .header-title {
    font-size: 2em;
  }
  .header-subtitle {
    font-size: 1.4em;
  }
}